#output{
    background-color: lightskyblue;
    position: absolute;
    width: 350px;
    height: 50px;
    top: 20px;
    margin-left: 25px;

}

#calcbody{
    background-color: yellow;
    border: black 2px solid;
    position: relative;
    height: 300px;
    width: 400px;
    margin-top: 200px;
    left: 500px;
}

#seven{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 80px;
    margin-left: 30px;
}
#eight{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 80px;
    margin-left: 75px;
}

#nine{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 80px;
    margin-left: 120px;
}
#five{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 110px;
    margin-left: 75px;
}
#four{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 110px;
    margin-left: 30px;
}
#six{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 110px;
    margin-left: 120px;
}

#three{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 140px;
    margin-left: 165px;
}
#two{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 140px;
    margin-left: 120px;
}
#one{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 140px;
    margin-left: 75px;
}

#zero{
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 140px;
    margin-left: 30px;
    
}

#addition{
    background-color: coral;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 80px;
    margin-left: 210px;
}
#subtraction{
    background-color: coral;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 80px;
    margin-left: 165px;
}
#division{
    background-color: coral;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 110px;
    margin-left: 165px;
}

#multiplication{
    background-color: coral;
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 110px;
    margin-left: 210px;
}
#equal{
    background-color: cornsilk;
    width: 100px;
    height: 40px;
    position:absolute;
    margin-top: 140px;
    margin-left: 265px;
}

#clear{
    background-color: cornsilk;
    width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 80px;
    margin-left: 265px;
}
#ac{
    background-color: cornsilk;
    width: 100px;
    height: 40px;
    position: absolute;
    margin-top: 110px;
    margin-left: 265px;
}
